{% extends 'base.html' %}

{% block title %}Cliente{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cliente.css') }}">
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h2 class="titulo">Armazém do Bairro</h2>
        <p class="subtitulo">
            Seu supermercado de confiança no bairro. Produtos frescos, <br>
            preços justos e atendimento de qualidade para toda <br>
            a família.
        </p>
    </div>
</section>

{% include 'produto.html' %}



<div id="overlay"></div>
<div id="popup">
    <h3 id="popup-nome">Produto</h3>
    <p>Preço unitário: R$ <span id="popup-preco">0.00</span></p>
    <label for="quantidade">Quantidade:</label>
    <input type="number" id="quantidade" min="1" value="1">
    <p>Total: R$ <span id="popup-total">0.00</span></p>
    <button id="cancelar">Cancelar</button>
    <button id="confirmar">Confirmar</button>
</div>
<script src="{{ url_for('static', filename='js/cliente.js') }}"></script>
{% endblock %}
